* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: skyblue;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: aliceblue;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  font-weight: bold;
  color: tomato;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
